description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="October themes">
	<meta name="author" content="AhmCho, mail@ahmcho.com, ahmcho.com">
	<meta name="copyright" content="ninodezign.com">
	<title>Modo</title>
	<!-- favicon -->
    <link rel="shortcut icon" href="{{'assets/images/ico/favicon.jpg'|theme}}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{'assets/images/ico/apple-touch-icon-144-precomposed.png' | theme}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{'assets/images/ico/apple-touch-icon-114-precomposed.png' | theme}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{'assets/images/ico/apple-touch-icon-72-precomposed.png'|theme}}">
    <link rel="apple-touch-icon-precomposed" href="{{'assets/images/ico/apple-touch-icon-57-precomposed.png'|theme}}">

	<!-- css -->
	<link rel="stylesheet" type="text/css" href="{{'assets/css/bootstrap.min.css'|theme}}" />
	<link rel="stylesheet" type="text/css" href="{{'assets/css/materialdesignicons.min.css'|theme}}" />
	<link rel="stylesheet" type="text/css" href="{{'assets/css/jquery.mCustomScrollbar.min.css'|theme}}" />
	<link rel="stylesheet" type="text/css" href="{{'assets/css/prettyPhoto.css'|theme}}" />
	<link rel="stylesheet" type="text/css" href="{{'assets/css/unslider.css'|theme}}" />
	<link rel="stylesheet" type="text/css" href="{{'assets/css/template.css'|theme}}" />
    {% styles %}
</head>
<body data-target="#nino-navbar" data-spy="scroll">
    {% partial 'header' %}
    {% page %}
    {% partial 'footer' %}
    {% partial 'search' %}
    <a href="#" id="nino-scrollToTop">Go to Top</a>
    <script type="text/javascript" src="{{'assets/js/jquery.min.js' |theme}}"></script>
	<script type="text/javascript" src="{{'assets/js/isotope.pkgd.min.js' |theme}}"></script>
	<script type="text/javascript" src="{{'assets/js/jquery.prettyPhoto.js' |theme}}"></script>
	<script type="text/javascript" src="{{'assets/js/bootstrap.min.js' |theme}}"></script>
	<script type="text/javascript" src="{{'assets/js/jquery.hoverdir.js' |theme}}"></script>
	<script type="text/javascript" src="{{'assets/js/modernizr.custom.97074.js' |theme}}"></script>
	<script type="text/javascript" src="{{'assets/js/jquery.mCustomScrollbar.concat.min.js'|theme}}"></script>
	<script type="text/javascript" src="{{'assets/js/unslider-min.js'|theme}}"></script>
	<script type="text/javascript" src="{{'assets/js/template.js'|theme}}"></script>
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- css3-mediaqueries.js for IE less than 9 -->
	<!--[if lt IE 9]>
	    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->
	{% framework extras %}
    {% scripts %}
    <script>{% placeholder inline_scripts %}</script>
</body>
</html>